pyfwc
=======================

A simple python wrapper for Australian Fair Work Commission API (https://uatdeveloper.fwc.gov.au/)

Requirements
-----

1. Register on the [official website](https://uatdeveloper.fwc.gov.au/) and obtain a subscription key
2. Install package by the following command:
`pip install pyfwc`

Usage
-----

Create FWC API object

In [5]:
from pyfwc import FWCAPI
fwc = FWCAPI(YOUR_SUBSCRIPTION_KEY)

Award
-----

Retrieve all awards for the specified parameters

In [6]:
fwc.get_awards(name='mining')

,award_id,award_fixed_id,code,name,award_operative_from,award_operative_to,version_number,last_modified_datetime,published_year
0,1132,1,MA000001,Black Coal Mining Industry Award 2020,2010-01-01T00:00:00+00:00,None,3,2022-01-17T16:12:10+00:00,2021
1,1142,11,MA000011,Mining Industry Award 2020,2010-01-01T00:00:00+00:00,None,2,2022-01-20T15:49:41+00:00,2021

Retrieve specific award using an award identifier

In [7]:
fwc.get_award(id_or_code='MA000001').head(3)

,award_id,award_fixed_id,code,name,award_operative_from,award_operative_to,version_number,last_modified_datetime,published_year
0,0,1,MA000001,Black Coal Mining Industry Award 2020,2010-01-01T00:00:00+00:00,None,3,2022-01-17T16:12:10+00:00,2021
1,0,1,MA000001,Black Coal Mining Industry Award 2020,2010-01-01T00:00:00+00:00,None,3,2021-06-26T11:33:16+00:00,2020
2,0,1,MA000001,Black Coal Mining Industry Award 2020,2010-01-01T00:00:00+00:00,None,3,2019-10-23T11:12:07+00:00,2019

Classifications
-----

Retrieve a current individual classification using a fixed identifier.

In [8]:
fwc.get_classification(id_or_code='MA000002',classification_fixed_id='98')

,classification_fixed_id,clause_fixed_id,clauses,clause_description,parent_classification_name,classification,classification_level,next_down_classification_fixed_id,next_up_classification_fixed_id,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,98,3,16.1,Clerical Employees,None,Level 1â€”Year 1,1,None,99,2021-07-01T00:00:00+00:00,None,1,2022-03-03T18:52:51+00:00,2021

Retrieve all the pay-rates for an award using an award identifier.

In [9]:
fwc.get_payrates(id_or_code='MA000001').head(3)

,classification_fixed_id,base_pay_rate_id,base_rate_type,base_rate,calculated_pay_rate_id,calculated_rate_type,calculated_rate,parent_classification_name,classification,classification_level,employee_rate_type_code,operative_from,operative_to,version_number,published_year,last_modified_datetime
0,18,None,None,NaN,None,None,0.0,Group B,(Adult coal mining industry employee engaged i...,NaN,None,2021-07-01T00:00:00+00:00,None,1,2021,2022-03-03T18:52:51+00:00
1,8,,None,NaN,None,None,0.0,Group A,"(Adult coal mining industry employees, without...",NaN,None,2021-07-01T00:00:00+00:00,None,2,2021,2022-03-03T18:52:51+00:00
2,90835,None,None,NaN,None,None,0.0,Adult apprentices,Adult apprentices - % of the Mineworker - Indu...,NaN,None,2021-07-01T00:00:00+00:00,None,1,2021,2022-01-13T16:41:36+00:00

Retrieve award classification information using an award identifier.

In [10]:
fwc.get_classifications(id_or_code='MA000012').head(3)

,classification_fixed_id,clause_fixed_id,clauses,clause_description,parent_classification_name,classification,classification_level,next_down_classification_fixed_id,next_up_classification_fixed_id,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,549,31,16.1,Pharmacy employees,None,Pharmacy assistant level 1,1.0,NaN,553.0,2021-07-01T00:00:00+00:00,None,1,2022-03-03T18:52:51+00:00,2021
1,553,31,16.1,Pharmacy employees,None,Pharmacy studentâ€”1st year of course,1.0,549.0,550.0,2021-07-01T00:00:00+00:00,None,1,2022-03-03T18:52:51+00:00,2021
2,550,31,16.1,Pharmacy employees,None,Pharmacy assistant level 2,2.0,553.0,554.0,2021-07-01T00:00:00+00:00,None,1,2022-03-03T18:52:51+00:00,2021

Retrieve the current pay-rate for a classification using a fixed identifier.

In [11]:
fwc.get_current_payrate(id_or_code='MA000012',classification_fixed_id='549')

,classification_fixed_id,base_pay_rate_id,base_rate_type,base_rate,calculated_pay_rate_id,calculated_rate_type,calculated_rate,parent_classification_name,classification,classification_level,employee_rate_type_code,operative_from,operative_to,version_number,published_year,last_modified_datetime
0,549,BR90099,Weekly,848.5,CR25779,Hourly,22.33,None,Pharmacy assistant level 1,1,AD,2021-07-01T00:00:00+00:00,None,1,2021,2022-03-03T18:52:51+00:00

Expense Allowances
-----

Retrieve a current individual expense-related allowance using a fixed identifier.

In [12]:
fwc.get_expense_allowance(id_or_code='MA000012',expense_allowance_fixed_id='49')

,expense_allowance_fixed_id,clause_fixed_id,clauses,allowance_type_code,parent_allowance,allowance,is_all_purpose,allowance_amount,payment_frequency,last_adjusted_year,cpi_quarter_last_adjusted,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,49,1864,19.3(b)(i),None,None,Meal allowanceâ€”overtime which exceeds 1.5 hour...,False,19.69,per occasion,2020,March Quarter,2021-07-01T00:00:00+00:00,None,1,2022-02-15T15:41:38+00:00,2021

Retrieve award expense-related allowance information using an award identifier.

In [13]:
fwc.get_expense_allowances(id_or_code='MA000012').head(3)

,expense_allowance_fixed_id,clause_fixed_id,clauses,allowance_type_code,parent_allowance,allowance,is_all_purpose,allowance_amount,payment_frequency,last_adjusted_year,cpi_quarter_last_adjusted,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,49,1864,19.3(b)(i),None,None,Meal allowanceâ€”overtime which exceeds 1.5 hour...,False,19.69,per occasion,2020,March Quarter,2021-07-01T00:00:00+00:00,None,1,2022-02-15T15:41:38+00:00,2021
1,9660,23173,19.3(c),None,None,Meal allowanceâ€”overtime which exceeds 4 hours,False,17.64,per occasion,2020,March Quarter,2021-07-01T00:00:00+00:00,None,1,2022-02-15T15:41:38+00:00,2021
2,53,1867,19.7,None,None,Motor vehicle allowance,False,0.80,per km,2020,March Quarter,2020-07-01T00:00:00+00:00,None,1,2022-02-15T15:41:38+00:00,2021

Penalties
-----

Retrieve all the penalties for an award using an award identifier.

In [14]:
fwc.get_penalties(id_or_code='MA000012').head(3)

,penalty_fixed_id,clause_fixed_id,clause_description,classification_level,penalty_code,penalty_description,rate,employee_rate_type_code,penalty_calculated_value,calculated_includes_all_purpose,base_pay_rate_id,operative_from,operative_to,version_number,published_year,last_modified_datetime
0,2132,21735,Full-time and part-time adult employeesâ€”penalt...,1,None,Saturday - Between 6.00 pm and 9.00 pm,150.0,AD,33.50,False,BR90099,2021-07-01T00:00:00+00:00,None,1,2021,2022-01-21T13:24:14+00:00
1,2132,21735,Full-time and part-time adult employeesâ€”penalt...,1,None,Saturday - Between 6.00 pm and 9.00 pm,150.0,AD,33.50,False,BR90103,2021-07-01T00:00:00+00:00,None,1,2021,2022-01-21T13:24:14+00:00
2,2133,21735,Full-time and part-time adult employeesâ€”penalt...,1,None,Saturday - Between 9.00 pm and midnight,175.0,AD,39.08,False,BR90099,2021-07-01T00:00:00+00:00,None,1,2021,2022-01-21T13:24:14+00:00

Wage Allowances
-----

Retrieve a current individual wage-related allowance using a fixed identifier.

In [15]:
fwc.get_wage_allowance(id_or_code='MA000012',wage_allowance_fixed_id='191')

,wage_allowance_fixed_id,clause_fixed_id,clauses,allowance_type_code,parent_allowance,allowance,is_all_purpose,rate,rate_unit,base_pay_rate_id,allowance_amount,payment_frequency,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,191,788,19.9,None,None,Broken Hill allowance,False,4.28,Percent,BR90101,38.5,per week,2021-07-01T00:00:00+00:00,None,1,2022-03-03T09:01:31+00:00,2021

Retrieve award wage-related allowance information using an award identifier.

In [16]:
fwc.get_wage_allowances(id_or_code='MA000012').head(3)

,wage_allowance_fixed_id,clause_fixed_id,clauses,allowance_type_code,parent_allowance,allowance,is_all_purpose,rate,rate_unit,base_pay_rate_id,allowance_amount,payment_frequency,operative_from,operative_to,version_number,last_modified_datetime,published_year
0,191,788,19.9,None,None,Broken Hill allowance,False,4.28,Percent,BR90101,38.50,per week,2021-07-01T00:00:00+00:00,None,1.0,2022-03-03T09:01:31+00:00,2021
1,12011,23000,19.2,None,None,Home medicine reviews or residential medicatio...,False,0.00,Percent,BR90109,106.40,per week,2021-07-01T00:00:00+00:00,None,1.0,2022-03-03T09:01:31+00:00,2021
2,191,788,19.9,None,None,Broken Hill allowance,False,4.28,Percent,None,37.56,per week,2020-07-01T00:00:00+00:00,2021-06-30T00:00:00+00:00,NaN,2022-03-03T09:01:31+00:00,2020

Contribution
-----
Contributors and committers are are welcome.